[2016-12-19 20:30] RMK147 opened #2 "Prevent scroll down when user has scrolled up"
Hello,

I'm using this in a chat app to scroll to the bottom of a div when a new message is received. The problem is if the user has scrolled up within the div (to view older messages), then when they receive a new message it automatically scrolls to the bottom, which is annoying. Could an option be added for it to only scroll down, if the user hasn't scrolled up?

Thanks!

[2016-12-19 20:36] theomessin commented on #2
I've got a general idea on how to do this. However, I will be doing a rewrite the entire code from the group-up first. I forked this repository because I too had to create a chat room using vue. Thus, eventually I will be renaming this repo to `vue-chat-scroll` and I will add a bunch of new features, including this one 😉

[2016-12-20 13:25] RMK147 opened #3 "Scroll on page load"
Hello,

Just another issue I've come across, would it be possible to make the div scroll to the bottom on page load, as I am now showing some older messages.

Thanks.

[2016-12-21 18:08] theomessin commented on #3
This one's pretty easy. Had it done for my project. Will add it in the next release!

[2017-02-05 04:55] theomessin commented on #3
4f177120188f97d50712a9ebef8a0a23deef49f8

[2017-02-05 04:55] theomessin commented on #2
4f177120188f97d50712a9ebef8a0a23deef49f8

[2017-02-07 06:15] theomessin commented on #3
See first full release ;)

a08258dc917c04435e4165486a84834001d80718

[2017-02-07 06:15] #3 closed

[2017-02-08 07:57] kennyki commented on #2
@theomessin is this already on your roadmap? Otherwise I have just created a pull request to support it (as I need it urgently). You may take a look at it.

Thanks

[2017-02-08 08:00] theomessin commented on #2
#4 I was going to code this today 😝 Merged: 9813049ea9b92cabc8dd70ffe961f4077605f8f7

[2017-02-08 08:00] #2 closed

[2017-02-08 08:01] kennyki commented on #2
Wow that was quick 👍

Would you mind to bump the package version and register it on npm?

[2017-02-08 11:06] theomessin commented on #2
Done

[2017-02-08 11:08] theomessin opened #5 "Require default"
Make the following code work:

[code]

[2017-02-10 23:44] Async0x42 opened #6 "UglifyJs Unexpected Token >"
After importing vue-chat-scroll, uglifyjs fails in webpack with the following error:
[code]
It still runs properly, but it's not able to process it, resulting in huge file sizes.

[2017-02-11 09:05] theomessin commented on #6
Which version of UglifyJS are you using?

[2017-02-11 21:30] Async0x42 commented on #6
I'm using webpack 2.2.1 (with uglifyjs in the config) and babel to convert it, would either of those affect it?

[2017-02-11 21:35] theomessin commented on #6
Could you please check your `package.json` and find the version of ***uglify*** (not webpack in general)

eg. in the `package.json` snippet below, uglify version is 2.7.5 or above...
[code]

[2017-02-11 21:38] Async0x42 commented on #6
Webpack is pulling it in as a dependency, version 2.7.5:

yarn.lock
[code]

[2017-02-11 21:39] theomessin commented on #6
Could you attach your `webpack.config.js` and your `package.json` files. I'm going to try to replicate this issue locally in hope of fixing it 😃

[2017-02-11 21:42] Async0x42 commented on #6
My webpack config has a number of files, so I'll set up a test repo for you to make it easier, I'll add another comment w/ link when it's ready

[2017-02-28 00:30] rjscully commented on #6
I have a very plain installation with Laravel 5.4 which uses laravel-mix and this same error occurs during `npm run production` - Unfortunately I'm quite unfamiliar with the ecosystem. Everything works without vue-chat-scroll, which works in dev config but not production when uglifyJS is called:

[code]

v-chat-scroll.js line 8 is:
`const scrollToBottom = el => {el.scrollTop = el.scrollHeight;}`

[2017-02-28 00:58] theomessin commented on #6
Yes, I have identified the problem. Basically, UglifyJS cannot work with ECMAScript 6. If it passes through babel first then it should work. I'll try changing the code to be ECMAScript 5 compliant and see if that fixes the issue...

[2017-02-28 01:11] rjscully commented on #6
Thanks! It's comforting to know it wasn't something I missed, wish I were familiar enough with JS to be of any assistance :(

[2017-02-28 01:18] theomessin commented on #6
Could you please try updating to v1.0.2 and trying to run `npm run production` and see if it works now?

[2017-02-28 01:33] rjscully commented on #6
I got 1.0.3 and it passed that point but failed on line 14 of the same file:
`let timeout;`

`SyntaxError: Unexpected token: name (timeout)`

[2017-02-28 01:34] theomessin commented on #6
Please try `1.0.2`

[2017-02-28 01:35] rjscully commented on #6
Same as above for 1.0.2

[2017-02-28 01:36] theomessin commented on #6
Okay thanks. Let me try something else... Gimme 5'

[2017-02-28 01:46] theomessin commented on #6
Okay, try `v1.0.5` please 😄

[2017-02-28 01:51] rjscully commented on #6
hmm are you sure 1.0.5 is available? I only see up to 1.0.4

[2017-02-28 01:52] theomessin commented on #6
Yes, sorry `1.0.4`

[2017-02-28 01:52] rjscully commented on #6
hurray!

[2017-02-28 01:54] theomessin commented on #6
This works, however, it is merely a workaround. The underlying UglifyJS issue is still a problem 😕 https://github.com/mishoo/UglifyJS2/issues/448

[2017-02-28 01:55] theomessin commented on #6
c9cb1c0a5d4658ad53ae16e13fd5388d4af159cd

[2017-02-28 01:55] #6 closed

[2017-02-28 01:56] rjscully commented on #6
Yeah I saw that about UglifyJS but it seems the "solution" most people accept is transpiling first. I'm not very frontend-savvy but it seems like a major pain in the butt.

Thanks again for the workaround!

[2017-03-01 13:22] MCMatters opened #7 "Folder "dist""
Why do you hide this folder from "npm"? I can't use your plugin with your instructions.
Any help will be appreciated. Thanks

[2017-03-02 12:27] theomessin commented on #7
Basically, if you're gonna use npm I just assumed that you will use some sort of bundling software, such as webpack, to include the `vue-chat-scroll.js` file in the `src` directory.

[2017-03-02 12:53] theomessin commented on #7
See release `1.1.0`

[2017-03-02 12:53] #7 closed

[2017-03-02 13:10] theomessin commented on #5
2fd13834e2d258876144919859e7b9a1947ff6fc

[2017-03-02 13:10] #5 closed

[2017-03-19 12:29] wong2 opened #8 "Require vue-chat-scroll returns empty object"
after install the latest version with npm:

[code]

[2017-03-20 01:40] theomessin commented on #8
I do not understand your issue? You need to instruct Vue to use the plugin:

[code]

[2017-03-20 01:50] wong2 commented on #8
Hi, I mean this package doesn't expose anything.

Theodore Messinezis <notifications@github.com>于2017年3月20日 周一09:40写道：

--
王大鹏<wong2>
Beijing,China
Blog：wong2.cn

Simple is better

[2017-03-20 02:53] theomessin commented on #8
I don't understand how that's a problem. The plugin works as it should. If you feel that something could be better, feel free to submit a pull request...

[2017-03-20 02:56] wong2 commented on #8
@theomessin the problem is`require('vue-chat-scroll')` returns an empty object `{}`!

[2017-03-20 02:58] wong2 commented on #8
I tried
[code]
at first, but it doesn't work, Vue can't find directive `chat-scroll` when using `v-chat-scroll`

[2017-03-20 03:00] theomessin commented on #8
Now that's interesting. Can you send your code (including a `package.json`) so I can replicate this locally?

[2017-03-20 03:11] wong2 commented on #8
@theomessin it's easy to reproduce: https://runkit.com/wong2/58cf4847d4d1e00013b3951a
I'm using v1.1.0

[2017-03-20 03:22] theomessin commented on #8
The following code runs fine for me:

[code]

Where are you actually trying to use the plugin? What module bundler are you using?

[2017-03-20 03:23] wong2 commented on #8
@theomessin here is my code: https://github.com/wong2/kflow/blob/master/src/index.js#L3

but I don't think it's related with my code, because I can reproduce it with a node REPL:

[code]

[2017-03-20 03:36] theomessin commented on #8
Sorry, I can't help you. It works just fine for me and for everyone else that has tried it. I don't know what you're doing differently. I'll keep the issue open in case someone else can help...

[2017-03-20 03:40] wong2 commented on #8
@theomessin what do you get if you run `require('vue-chat-scroll')` in node REPL?

[2017-04-02 15:17] bigperson opened #11 "Failed to resolve directive: chat-scroll - vue v. 2.2.6"
I use:
in mail.js
[code]

in component:
[code]

And i have error
[code]

[2017-04-02 22:08] theomessin commented on #11
Can you please provide more information? (eg. your webpack configuration file)

[2017-04-03 07:31] bigperson commented on #11
I use http://quasar-framework.org/
script.dev.js
[code]

webpack.dev.conf.js
[code]

package.json
[code]

[2017-04-03 18:47] theomessin commented on #11
You need to install the package with NPM (or yarn). Just run `npm install --save vue-chat-scroll`

[2017-04-05 11:52] #11 closed

[2017-04-09 14:27] And-re commented on #8
I doesn't work for me as well.
I'm using:
[code]
and then
[code]
and I'm getting `[Vue warn]: Failed to resolve directive: chat-scroll` error

[2017-04-09 14:51] And-re commented on #8
I was able to make it work.
1. I created a file:
[code]
2. I imported it:
[code]
3. ```js
Vue.directive('scroll-bottom', scrollBottom)
[code]

[2017-04-09 17:31] theomessin commented on #8
@And-re There's no point in doing that though... There's no actual problem if you use Vue correctly. Send me your `package.json` and your `webpack.config.js` file.

[2017-04-09 17:48] And-re commented on #8
@theomessin
https://gist.github.com/And-re/4b729ea7cb3d2793547b4ea84d68c0fe
https://gist.github.com/And-re/c8980d7728f6f751af94c398b9e0b676

[2017-04-09 18:00] theomessin commented on #8
You need to install it with NPM or YARN. Run:
`npm install --save vue-chat-scroll` or `yarn add vue-chat-scroll`

[2017-04-09 18:52] And-re commented on #8
@theomessin ?
I had it installed and I was using everything as described in the README
https://github.com/theomessin/vue-chat-scroll/issues/8#issuecomment-292789131

[2017-04-09 19:33] theomessin commented on #8
Then why isn't it present in your `package.json`?

[2017-04-09 21:44] And-re commented on #8
because I sent you the package.json file after removing "vue-chat-scroll" and using my own solution.

[2017-04-11 10:24] sarahschuetz commented on #8
Running in the same problem right now..
Everything is set up but v-chat-scroll is not working.

[2017-04-11 12:40] bigperson commented on #11
No, the package has been installed. On another project the same problem.

[2017-04-11 12:43] theomessin commented on #11
Duplicate of #8

[2017-04-12 10:17] theomessin commented on #8
I appreciate that 3 or 4 of you are having this issue. Problem is, I can't replicate it... Either create a repo so I can replicate the issue locally or make a pull request solving it.

[2017-04-12 17:30] sarahschuetz commented on #8
you can find our project here:
https://github.com/sarahschuetz/IM531_ProjectT1

we are using vue together with nuxt so I tried implementing it as a Plugin like explained here https://nuxtjs.org/guide/plugins/#__nuxt

[2017-04-13 13:31] megapctr commented on #8
I'm experiencing this issue as well. I created a [[pen]](http://codepen.io/anon/pen/RVwzVa?editors=1010#0) trying to reproduce my error, but it seems it works fine there 😅

[2017-04-13 13:47] megapctr commented on #8
This snippet will mute the error about missing directive, but it still doesn't work 😞
[code]

[2017-04-13 14:53] theomessin commented on #8
I need a demo repo (just the basic files, not an entire project) to replicate the issue. I couldn't get @sarahschuetz's repo to work locally...

[2017-04-18 04:16] kylestev commented on #8
I'm getting this as well. I'll see if I can get a reproducible repo up for you.

[2017-04-18 04:39] kylestev commented on #8
Here's the issue: https://github.com/theomessin/vue-chat-scroll/blob/master/package.json#L30

It's a hard dependency on that specific version of Vue. I noticed it when committing the changes to the repro-repo.

![](https://i.imgur.com/JZ4XeQy.png)

[2017-04-18 04:40] kylestev commented on #8
Here's a repo to reproduce it: https://github.com/kylestev/vue-chat-scroll-issue-8-reproducer/commit/95fb682fcb17b7a90dd92e297069919441dd6b15

[2017-04-18 04:50] kylestev commented on #8
Submitted a pull request to fix this 😄 Thank you for this repository -- it should fit my needs exactly based on the demo.

[2017-04-18 05:11] theomessin commented on #8
Can any of you confirm if @kylestev pull request has fixed the issue? Version is `1.1.1`

[2017-04-22 20:39] sarahschuetz commented on #8
Not for me. I still have the same problem.

[2017-04-22 23:12] sarahschuetz commented on #8
I am now using my own solution, so I don't need any help anymore. Nevertheless the problem still exists.

[2017-04-25 00:18] mmieluch commented on #8
Yea, sorry man :( I'm using `1.1.1` and having this issue too :/

From my `yarn.lock`:

[code]

Doing

[code]
does not register the directive, even though console is logging this:

[code]

Standard `const VueChatScroll = require('vue-chat-scroll')` logs out as an empty object.

[2017-05-04 09:57] kennyki commented on #8
I had to revert to install from this commit to make it work:

[code]

Which is before [this change](https://github.com/theomessin/vue-chat-scroll/commit/2fd13834e2d258876144919859e7b9a1947ff6fc) (you can see that from the [history](https://github.com/theomessin/vue-chat-scroll/commits/master/dist/vue-chat-scroll.js))

[2017-05-15 09:16] bbashy commented on #8
Getting the same issue. `[Vue warn]: Failed to resolve directive: chat-scroll `

[2017-05-15 09:22] megapctr commented on #8
it must be an issue with the packaging, I literally copied the source code to my repo and it worked.

[2017-05-15 09:24] bbashy commented on #8
@megapctr Which confirms the reply from kennyki since that change is for dist changes.

[2017-05-15 09:35] phoet commented on #8
i can confirm that it's not working when used via webpack.

[code]

[code]

[2017-05-15 12:13] theomessin commented on #8
Hi Guys! I am absolutely stunned that so many of you actually need this plugin. I understand that there is an issue with the packaging. I'll see what I can do, but no promises. **If you guys know the solution, just fork the repo and issue a pull request!**

[2017-05-15 13:25] phoet commented on #8
@theomessin i actually copied and adapted the code here, just wanted to let you know that there is an issue. it also helpful for others who come across this library, so that they don't waste their time trying to find out that it's not working in some setups.

[2017-05-15 15:07] kennyki commented on #8
On top of my head, the easiest hack is to remove the line `/src` in **.npmignore** and we can happily import `src/vue-chat-scroll.js` :p For those who uses webpack should bundle the file themselves anyway, so it should not be a problem

[2017-06-05 21:15] bbashy commented on #8
Any final fix for this?

[2017-06-06 10:31] kennyki commented on #8
I created #13 as a quick and dirty fix for this issue. I suspect that the build tool laravel-mix is not configured properly to compile standalone release (not sure how to do it :-x)

[2017-06-09 20:49] theomessin commented on #8
#13

[2017-06-13 02:27] hjf commented on #8
I just installed this in my Vue project (with npm) and I'm getting the "[Vue warn]: Failed to resolve directive: chat-scroll" message.

I imported it like this:
import cs from 'vue-chat-scroll'
Vue.use(cs)

No errors when importing but it just doesn't work :(

[2017-06-13 02:50] hjf commented on #8
As a workaround, I added this to my main.js:

[code]
This isn't ideal but it works.

[2017-06-13 07:37] kennyki commented on #8
@hjf have you look at #13? It should help

[2017-06-13 08:37] theomessin commented on #8
@kennyki Just so you know, this workaround will brick UglifyJS. The reason I had to include the `dist` `vue-chat-scroll.js` was issue #6

I'll eventually try to fix this issue the proper way. Till then your workaround should do 😄

[2017-06-14 01:47] kennyki commented on #8
Yup understand. It definitely need to be fixed properly. Thanks for the great plugin!

[2017-06-14 11:42] wirrareka commented on #8
i stumbled upon similiar issue with my plugin, hence found this thread while trying to solve it, in my case i added **output.libraryTarget: 'commonjs2'** in **webpack.conf** in the plugin.
Then i can use the plugin just fine with:
import * as MyPlugin from 'my-plugin'
Vue.use(MyPlugin)

might be worth a shot for you guys

[2017-07-07 04:50] wuxingjiang opened #14 "Failed to resolve directive: chat-scroll"
![image](https://user-images.githubusercontent.com/15045361/27943555-d35e3620-6312-11e7-826b-180347dec97d.png)

[2017-07-07 14:34] AhmedBoustani commented on #14
+1

[2017-07-07 18:06] theomessin commented on #14
Duplicate of #8

[2017-07-07 18:06] #14 closed

[2017-07-07 18:07] theomessin commented on #8
Will eventually fix this... One day. Soon™

[2017-07-09 05:33] theomessin commented on #8
Can anyone that used to have this issue try out version `1.2`. I believe that it should fix it.

[2017-07-09 05:42] theomessin commented on #14
See the solution of #8

[2017-07-09 05:42] theomessin commented on #11
See the solution of #8

[2017-07-18 07:50] GeminiWind commented on #8
"vue-chat-scroll": "^1.2.0", it still doesnt' work althought no error

[2017-07-18 11:16] theomessin commented on #8
@GeminiWind Nothing I can do if there's no error. Gonna need an issue to replicate the problem locally

[2017-07-21 15:56] JohsBerggren commented on #8
With 1.2.0, I'm getting

`vue.runtime.esm.js?a427:430 [Vue warn]: Failed to resolve directive: chat-scroll

(found in <Anonymous>)`

[2017-07-21 16:01] JohsBerggren commented on #8
1.2.0 works for me 👍  Thanks a lot @theomessin

[2017-08-30 03:30] theomessin commented on #8
@all, show of hands, who's still having issues with the latest version? I'd like to finally close this issue...

[2017-09-03 21:24] dancaron commented on #8
Worked for me once I added Vue.use(require('vue-chat-scroll')) to my main.js. I think the bullet points in the documentation make this step seem optional, since it is same indentation level as the npm install instructions, despite the fact that both are required.  Just something to help beginners.

[2017-09-03 21:33] dancaron opened #15 "Scroll on Initialization"
Hi, thanks for your work on this plugin.

I was wondering if it's possible to have the plugin scroll to bottom on initialization? Picture a chat window that already has many chats. Often times, you want to pick up at the most recent part of conversation. And having to scroll down, or wait for new message to scroll is not ideal. Does that make sense?

[2017-09-03 22:24] theomessin commented on #15
Pretty sure I've already implemented that 😝 see #3. If I haven't though I'll do that too.

[2017-09-03 22:34] dancaron commented on #15
So how would I implement this functionality? That thread (#3) only references a commit. I looked through the commit but could not find a setting that implement scroll on init.

[2017-09-03 22:39] theomessin commented on #15
If I remember correctly, this line should do everything for you...
https://github.com/theomessin/vue-chat-scroll/blob/a08258dc917c04435e4165486a84834001d80718/src/directives/v-chat-scroll.js#L17

I'm guessing that it's not working anymore though. I'll see what I can do 😃

[2017-09-03 22:49] dancaron commented on #15
No it doesn't seem to be working. Thanks for looking into it. Appreciate it!

[2017-09-04 21:02] numaru commented on #8
I don't have the issue from NPM version but I get into trouble with the `<script>` version.
https://codepen.io/anon/pen/gxEVrg?editors=1011
In this example, vuetify seems to work well. This is not the case for vue-chat-scroll.

[2017-09-15 18:43] NotHolst opened #17 "Can't get it to work with transition-group animations"
It works for me when just using a normal `<ul>` tag, but if i use `<transition-group name="shoutbox" tag="ul">` it doesn't

[2017-09-21 04:22] theomessin commented on #17
No idea if transition-group supports directives. Will investigate...

[2017-09-21 05:01] theomessin commented on #15
Long story short, I've been busy. Sat down to fix this issue but I couldn't replicate it. Plugin works fine and scrolls on page load: http://jsfiddle.net/yMv7y/3470/

Any chance you can show me some code?

[2017-09-21 05:04] theomessin commented on #8
And so, by the powers vested in me by the Hub of Git, I pronounce this issue closed!

[2017-09-21 05:04] #8 closed

[2017-09-25 02:29] #15 closed

[2017-10-03 05:56] nowshad-sust opened #18 "Scroll bar doesn't go to bottom on route change"
my chat routes may change like this - /conversations#/{user_id}
It seems that the scrolling is working fine with a single chat thread.
But when changing the route, scroll bar doesn't go to the bottom.

[2017-10-03 10:47] rakeshtinku commented on #18
i would like to work on this

[2017-10-27 00:43] sj82516 opened #20 "Forked project and add new feature: emit loading events when scroll to the top"
Hi theomessin ,
Thanks for the useful vue directive project. I forked your project and modified a little bit to add new feature.
When scroll to the top of element, directive would emit 'scroll-top' event.
This would woks more like a chat box situation.
Here is my [jsfiddle demo](https://jsfiddle.net/sj82516/780eg0ek/) 、[npm package](https://www.npmjs.com/package/vue-chat-scroll-top-scroll).
It's m

[2017-11-06 19:56] samriddhi commented on #18
Is there any update on this.?
I have a multiple chats in the same wrapper however it only works on the first on chat and not the rest of the threads that I have to  open on click,

[2017-11-13 01:50] theomessin commented on #20
Hello, sorry for the delay (had too many GitHub notifications and this got buried). I really appreciate your work on this package. Just an FYI: when a fork only contains some minor extra features it is usually best to simply issue a pull request back to the original repo instead of republishing. This way your code gets more exposure and gets to help more people 😃 Either way, great work on the emit

[2017-11-13 01:50] #20 closed

[2017-11-13 01:52] theomessin commented on #18
@rakeshtinku I assume you didn't get a chance to look into this?

[2017-11-13 01:55] sj82516 commented on #20
Thanks for your reply.
I would create issue first next time.
Really appreciate! 👍

[2018-01-09 02:53] MaxLyons commented on #17
Any update to this? I can't get it to work in general, or with a transition-group

[2018-01-13 13:53] theomessin commented on #17
@MaxLyons No update on the transition-group. As far as I can tell, it can't be done (transition-group directives are not documented; no idea if they are even a thing).

Can you maybe provide any more info? Maybe open up a new issue if you can't get it to work "in general"...

[2018-01-15 10:34] vesper8 commented on #20
so.. did this get merged in or not ?

[2018-01-15 10:52] vesper8 opened #21 "how to use this programatically? or scroll on event ?"
I can't get it to work in my project. When I initially load my chatrooms they are empty of messages, then another API call gets the messages and fills up the wrapper div on which v-chat-scroll is applied

I would want it to auto-scroll to the bottom at that point.. but it doesn't happen

How can I fire a "scroll to bottom" after I get the response from my api call ?

[2018-01-15 13:46] theomessin commented on #20
There was no pull request to merge 🤷‍♂️ If I ever get one, I'll merge it. If not, I might code this extra feature myself (although I don't really see the use - I'll need some upvotes on this comment to do that).

[2018-01-15 13:47] theomessin commented on #21
Hello @vesper8 😄 Can you please provide your code? Also, do you get any errors such as ` Failed to resolve directive` or similar?

[2018-01-28 07:34] theomessin commented on #21
Invalid until more information is provided.

[2018-01-28 07:34] #21 closed

[2018-02-26 22:21] firesharkstudios opened #22 "Smooth Scrolling Change"
fyi -- Changing...

[code]

to...

[code]

Results in native smooth scrolling in the browser (per https://css-tricks.com/snippets/jquery/smooth-scrolling/).

[2018-05-11 14:03] PythonLinks opened #23 "Sadly it does not work for me."
Here is my existing code:

  <div v-for="message in messages" class="row animated bounceInRight">
        <div class="col-sm-12">
            <canvas width="80" height="80" data-jdenticon-hash="{{message.hash}}" class="img-thumbnail
            img-responsive img-circle"></canvas>
            <div class="panel panel-default">
                <div class="panel-body">{{message.name}}: <span v-html="

[2018-05-27 20:08] #23 closed

[2018-05-27 20:45] #22 closed

[2018-05-28 15:27] theomessin commented on #23
This demo might help you out:
https://theomessin.github.io/vue-chat-scroll/
https://github.com/theomessin/vue-chat-scroll/blob/master/docs/index.html

[2018-06-03 15:30] k1ll1n opened #26 "Use Vue-chat-scroll with Vuebar"
Hello!
Pls tell me how to use vue-chat-scroll with [Vuebar](http://github.serafin.io/vuebar/)?
[code]
I get such errors
[code]
![Screenshot-from-2018-06-03-22-21-101d0adeced847f510.png](http://static2.keep4u.ru/2018/06/03/Screenshot-from-2018-06-03-22-21-101d0adeced847f510.png)

if I do so
`scroll(id="chat-box" class="messages" v-chat-scroll="{always: true}")`
That errors disappear, but automatic

[2018-06-05 16:08] theomessin commented on #26
I'm currently quite busy and don't have time to look into this. I'll get back to you when able.

[2018-06-30 14:37] pmochine commented on #15
Yeah, I have got the same issue, unfortunately. I cannot recreate my modal, because I'm using vue-js-modal, but perhaps you get the idea with this jsfiddle: https://jsfiddle.net/d1oy67a2/

I try to explain what I'm doing.
In my main.js I've  imported the file with:

[code]

My chat is based on the vue-js-modal. When you get to the conversations, it is loaded like that:

[code]

The conversation-li

[2018-06-30 14:47] pmochine commented on #15
And p.s. if i just write somewhere

[code]

then it works perfectly...

[2018-07-01 12:36] Zippersk opened #27 "el.scroll is not a function"
I am getting this error:
`TypeError: el.scroll is not a function`

Does this plugin require jQuery? If yes, it should by mentoied in readme.

[2018-07-01 13:00] theomessin commented on #27
It shouldn't need jQuery. The demo works fine and it doesn't use jQuery. Can you confirm that the demo works for you as well (https://theomessin.github.io/vue-chat-scroll/)? Can you provide more info (such as browser, version, etc.)?

[2018-07-01 13:03] theomessin commented on #15
@pmochine any chance you could add this in the docs yourself? Just fork, edit, and create pull request :wink:

[2018-07-01 13:22] Zippersk commented on #27
I want use this plugin in combination with [electron](https://electronjs.org), but i seems that the version of chromium in electron doesn't have scroll function.

[code]
But when i tried it in normal browser :
[code]

So this error is probably caused by electron...
I thought it is jquery function, because i can not find any documentation on documentElement.scroll function. I just found documentati

[2018-07-01 13:22] #27 closed

[2018-07-05 05:37] premwebdeveloper opened #28 "Scroll methos does not support in Internet explorer 11"
I have developed a chat app in laravel and vue js with pusher. It's working proper in all browers but internet explorer is not supporting scroll method. I have installed v-chat-scroll library for scrolling.

Below mentioned errors occuring in console
[Vue warn]: Error in directive chat-scroll inserted hook: "TypeError: Object doesn't support property or method 'scroll'"

Object doesn't support pro

[2018-07-05 14:07] theomessin commented on #28
Who uses IE these days? I'll leave this issue open for a bit but I won't be fixing this.

[2018-07-12 03:46] #28 closed

[2018-07-13 07:35] GwonHyeok commented on #27
@Zippersk
I have a same problem. but now i solved the problem by use scroll polyfill library.

[https://github.com/iamdustan/smoothscroll](scroll polyfill - smoothscroll)

[2018-07-15 00:13] theomessin commented on #18
@exwizzard wanna pull request this as well?

[2018-08-07 11:47] danilogacevic opened #29 "vue-chat-scroll doesn't work"
I'm using vue with laravel. This is where i include module.
[code]

In my chat-component i registerer messages component. Message component code with v-chat-scroll setted:

[code]

And it's not working. I can't figure out what am I doing wrong.

[2018-08-08 02:33] theomessin commented on #29
Might seem like a silly question but you never know: any errors in the console?

[2018-08-08 07:50] danilogacevic commented on #29
There is an error due to some other script. But I included my vue.js (and everything with it) before this .js file with errors.

[2018-08-10 02:08] theomessin commented on #29
Code seems fine to me. I just tested it using a clean Laravel install and it works just fine (https://github.com/theomessin/danilogacevic/blob/master/resources/assets/js/components/ChatComponent.vue). You can try cloning the repo and playing around with it. It should work just fine on your end as well.

Only things that I can think of is either an issue with the pulling of the package or a conflic

[2018-08-12 11:27] #29 closed

[2018-09-10 13:17] AbdullahGhanem commented on #18
@exwizzard can you help me to fix it my project?
how or where can I add your code to my project?

[2018-09-10 13:47] exwizzard commented on #18
@AbdullahGhanem I have added the code into my component that has the vue-chat-scroll directive:

[code]

[2018-09-15 06:06] christophrumpel opened #30 "Make it working with disappearing elements"
Hey, first thanks for this package. I am using for my chat interface and mostly it works great.
A problem I have is when I use a `typing indicator`(animated bubble). It is shown while messages are coming in but it disappears afterward. I think this change conflicts with your package because the scrolling is wrong now. It scrolls further down that it should be, resulting in some whitespace under th

[2018-09-19 09:31] duythang opened #31 "How to change style of message"
Hello @theomessin

Thank you for your nice component
Now i am trying to use your component for my chat app.
I want to change style  of message inside chat box. In my case,
i want sender and receiver message style are different.
Can you let me know how can i do it ?

Thank you so much

[2018-09-19 22:43] theomessin commented on #30
That's an interesting bug. Let me see what I can do...

[2018-09-20 05:30] christophrumpel commented on #30
Hey @theomessin , just wanted to mention that I use now a custom solution because there are too many things happen in my chat and I need to be more in control of where and how to scroll. Still thanks.

[2018-09-20 05:30] #30 closed

[2018-09-20 15:04] yellowiscool commented on #28
I hate IE probably as much as you do, but sometimes you just have to support it. I might do a pull-request when I will stop crying.

[2018-09-22 15:54] theomessin commented on #31
Hi @duythang. Vue-chat-scroll has no control over the rendering of elements, such as styling of messages. You can change everything using CSS in your component, but that has nothing to do with this plugin.

[2018-09-22 15:54] #31 closed

[2018-09-23 13:36] theomessin commented on #28
:+1: Feel free to do a pull request!

[2018-10-07 19:37] kieraneglin opened #32 "Edge does not support el.scroll"
In the `scrollToBottom` method, there is a call to `el.scroll`.  When `el` is an `Element`, it works fine on Chrome and Firefox but not on Edge.

I'm not sure the root cause of this, but I believe `el.scroll` should be avoided entirely.  Edge throws an error, but I don't see `scroll` in `Element`'s properties whatsoever: https://developer.mozilla.org/en-US/docs/Web/API/Element

Replacing `scroll`

[2018-10-10 22:42] johnRivs opened #33 "Can't get it to work in Firefox"
Works in Chrome though.

Firefox: 62.0.3 (64-bit)
vue: 2.5.17
vue-chat-scroll: 1.3.3

When I load the page, the container is just as big as the total amount of messages in chat, exceeding the viewport. No scrollbar appears. I'm using the readme.md example with `{ always: false }`.

[2018-11-30 23:09] theomessin commented on #32
If I remember correctly I used to have scrollTop but we changed over to scroll to support smooth scrolling (see #22). Could probably check the browser and fallback to scrollTop if scroll isn't found.

[2018-12-05 23:36] theomessin commented on #33
This doesn't actually have to do anything with the plugin but the demo, right?

[2018-12-05 23:36] theomessin commented on #33
Or, this has to do with your implementation. Make sure you've got a max-height set to your div, or it will just grow to match its content.

[2018-12-05 23:46] johnRivs commented on #33
Guess I'll apply max-height only on Firefox. Thanks!

[2018-12-05 23:46] #33 closed

[2018-12-08 06:19] #17 closed

[2018-12-08 06:34] theomessin commented on #32
@kieraneglin I am on Linux so it's very difficult for me to test this. I believe I've fixed the issue but you please confirm this for me (using latest version `1.3.4`)?

[2018-12-09 03:18] theomessin commented on #32
I'll assume that #6a26c4363d3395fe126c46deb5a5cb18fbc4cb11 fixed this. Feel free to re-open the issue if this is not the case.

[2018-12-09 03:18] #32 closed

[2018-12-10 22:50] kieraneglin commented on #32
@theomessin Seems to work!  Thank you 💪

[2018-12-12 12:21] theomessin commented on #18
I'm closing this issue as it's hogging my dashboard. Feel free to re-open it once you've got a way for me to reproduce the problem locally.

[2018-12-12 12:21] #18 closed

[2018-12-29 15:55] Vad1mo opened #37 "use on scrolling console like output"
I am displaying console output to trace logs and would like to use to plugin to scroll to the bottom

However, it doesn't scroll to the bottom. The class `output-cmd`has a max-hight set to 300px so there are scrollbars.

[code]

[2019-01-01 17:52] theomessin commented on #37
Hmm. That's weird. Only thing I can think of is that you might have the attribute applied to the wrong element... Let me see if I can replicate the issue locally.

[2019-01-04 01:53] Zendrex commented on #37
I'm also desiring to use this the same way, however its not working. My code is below. I am guessing I am simply doing this wrong somehow.
[code]

[2019-01-04 08:17] theomessin commented on #37
@Zendrex your issue seems like a duplicate of #17. As far as I am aware, you can't use this directive with transition-groups.

[2019-01-04 08:19] theomessin commented on #37
@Vad1mo can you maybe give me your CSS as well? If you can make a JSFiddle reproducing this, that'd be great!

[2019-01-08 13:57] vesper8 commented on #37
I'm also using it for this same purpose and it's working fine for me. Have you tried actually using a UL/LI combo ?

[code]

Also make sure that when you are adding new items to the thing that is mapped to your v-for, that you use the .push() command

[2019-01-13 23:47] theomessin commented on #37
Closing this issue due to inactivity. Feel free to re-open it if this is still... an issue :wink:

[2019-01-13 23:47] #37 closed

[2019-01-14 04:12] hkmsadek opened #38 "If I open multiple chat window div it scroll always the first one unnecessarily"
I have a facebook like chat system. When I open new chat window, it always scroll again the first window. But it works for all chat window if I send message. Another problem is, how can I scroll by default at the bottom of the div without needing to send a new message? Is there any way to apply this scroll programmatically? It seems, scrolling is applied in updated/watch that's why when data chang

[2019-01-16 13:50] hkmsadek commented on #38
I am using it like this

[code]

This loops has effect with one another. If I close the chat window other chat window start scrolling or moves up instead of stay at bottom.

Thank you for the reply

[2019-01-16 14:03] theomessin commented on #38
I can't really help you with just that :slightly_frowning_face: Can you send me the entire component so I can try reproducing this and start tinkering with it? Even better would be the bare minimum code needed to reproduce this issue.

[2019-02-11 15:08] kperveen opened #39 "vue-chat-scroll is scrolling to the wrong position"
I have the following structure
[code]

when I use this code, the wrapper's scroll scrolls to the correct position and scroll to a wrong position, its this because of the component used?

[2019-04-02 20:57] codepotato opened #40 "Scroll position isn't taking into consideration image heights"
I've noticed what I think is a weird issue to do with images.

I'm using this in a messaging service and have noticed that it'll scroll to the correct location when all messages are text based, but when messages contain images the scroll position is wrong.

I can only assume this is because it's not taking into consideration the height of the images as these are loading when calcs are run?

[2019-04-03 14:32] focux commented on #40
I was about to post the same. I'm having the same issue when having images in the chat.

[2019-04-11 11:11] theomessin commented on #38
If someone can reproduce this in a simple repo (jsfiddle-like) then I might be able to do something. I don't have the time to basically debug someone else's website. Closing for now

[2019-04-11 11:11] #38 closed

[2019-04-11 11:12] theomessin commented on #40
I'll see what I can do.

[2019-04-11 11:16] theomessin commented on #39
A way to reproduce the bug (JSFiddle will do) makes my life so much easier and the chances of me fixing this triple. I can only assume that this is due to your component. Can't do much out without a way of reproducing this.

[2019-04-11 11:16] #39 closed

[2019-04-11 18:31] focux commented on #40
This bug is because of loading image with unknown height. The only workaround I found for this was to set a fixed height for every img.

[2019-04-29 11:37] Sequoya42 opened #41 "Scroll on button click"
I used the scroll for a chat.
The chat contains a v-data-table (vuetify), with pagination.
Clicking on the pagination while on the middle of the page, scroll to bottom.
(which I didn't want).
I added a
[code]

inside the scroll directive mutationObserver to deal with it. [be able to interact with an inner element without scrolling].
To specify the issue :
It happens on mouseDown, so the pagination

[2019-05-10 00:17] NotMyself opened #42 "Possible to make the chat messages anchor to the bottom of the chat area?"
I would like my chat messages to come in from the bottom of the chat area instead of popping into the top. Is that possible with your lib?

[2019-05-29 10:39] dastiw1 opened #44 "Add the ability to disable scrolling"
Please, add new property like enabled that true by default.
For example:

[code]

[2019-06-01 01:30] theomessin commented on #42
This plugin is designed for just that. New messages are placed at the bottom (inside an element and that element is automatically scrolled to the bottom to show the latest message). If you mean the opposite of that (newest messages are placed at the top), that's not currently supported. Let me know if you mean the later and I'll add the functionality when I find the time (happy to merge a PR too).

[2019-06-01 01:45] #40 closed

[2019-06-01 01:47] theomessin commented on #41
Your solution seems reasonable enough. Makes sense that the mutation observer fires when the table inside the chat changes, could maybe find a way to better filter legit mutations that require a scroll to bottom. For now you can stick with your fix. If more people think this is an issue then we'll see!

[2019-06-01 01:48] #41 closed

[2019-06-01 01:48] theomessin commented on #44
Seems like a simple enough feature request. Will implement when able!

[2019-06-09 23:03] theomessin commented on #42
Closing due to inactivity.

[2019-06-09 23:03] #42 closed

[2019-06-16 14:13] efstajas opened #46 "transition-group not supported"
**Describe the bug**
If dynamic elements are wrapped by a `transition-group` element in order to enable custom enter & exit transitions, the directive does not work. When put on the element around the `transition-group`, it properly scrolls the div down on first open of the page, but fails to register element additions — the scroll to bottom doesn't happen. If put on the `transition-group` element

[2019-06-16 17:54] efstajas commented on #46
Just found https://github.com/theomessin/vue-chat-scroll/issues/17.

I have an idea for a possible fix for it. Will see how it goes and post in that issue if it works as I think it will :)

[2019-06-16 17:54] #46 closed

[2019-07-12 18:36] paparent opened #48 "Instant scrolling doesn't work on initial load"
When I open the component I guess smooth scrolling, even tho it's disabled. When I get other message it is instant but not on load.

I guess it's because in `inserted`, it doesn't check for the configs.

Thanks !

[2019-07-18 18:43] #48 closed

[2019-07-18 18:44] theomessin commented on #48
Thanks for the PR @paparent :smiley:

[2019-08-05 10:04] expanding opened #50 "对于有图片的页面这个就滚动不过去了怎么解决"
我再开发聊天功能， 要求进入聊天页就要滚动到底部，聊天内容有图片，语音文字，图片加载的慢，用这个插件就很难滚动到页面底部了

[2019-09-26 07:44] theomessin commented on #50
English please.

[2019-09-26 07:44] #50 closed

[2019-10-07 15:10] sebmor opened #52 "addEventListener is not removed on unbind"
although most modern browsers automatically destroy it, older browsers won't and it will cause a memory leak.
ideally we call removeEventListener on unbind in the directive

[2019-11-22 19:43] ckubiqum commented on #44
hi! I am using vue chat scroll and it works great but on mobile phones the scroll is not smooth. Do you have any idea why and how I can fix this?
Thank you so much in advance!
Celina

[2019-12-06 11:35] theomessin opened #53 "Scroll not smooth in mobile phones"
hi! I am using vue chat scroll and it works great but on mobile phones the scroll is not smooth. Do you have any idea why and how I can fix this?
Thank you so much in advance!
Celina

_Originally posted by @ckubiqum in https://github.com/theomessin/vue-chat-scroll/issues/44#issuecomment-557667756_

[2019-12-06 11:37] theomessin commented on #53
I don't think that's really an issue with the package. Probably just the phone GPU isn't powerful enough. The smooth scrolling is just a JavaScript browser feature (https://developer.mozilla.org/en-US/docs/Web/API/Window/scrollTo). Personally I'd just disable smooth scrolling (and use instant scrolling) on phones.

[2019-12-06 11:37] #53 closed

[2020-03-23 23:54] alex-w0 opened #55 "Add event when top of scrollbar is reached"
**Is your feature request related to a problem? Please describe.**
When a client is entering my chat, I'm only showing to him the recent messages. If he would like to see now also further messages, then he needs to scroll up to the beginning, where further should be fetched asynchronously.

**Describe the solution you'd like**
An event would be nice that is automatically triggered when user scroll

[2020-03-24 09:23] theomessin commented on #55
Great idea! Would you to submit a PR?

[2020-03-24 19:17] alex-w0 commented on #55
Sure, here you have https://github.com/theomessin/vue-chat-scroll/pull/56
How can I link this issue with the pull request?

The event only works when the option always is set to false, otherwise it will jump when new items will be prepended.
Would be nice if you can implement in this repository a small example page, so it would be easier for others to make pull requests.

[2020-04-05 19:35] theomessin commented on #52
AFAIK browsers that don't clean up after event listeners don't support MutationObserver you don't really have to worry about this. Either way, will fix.

[2020-04-07 00:50] theomessin commented on #52
Feel free to submit a PR. I feel this is not needed though.

[2020-04-07 00:50] #52 closed

[2020-04-07 01:04] theomessin commented on #55
https://github.com/theomessin/vue-chat-scroll/releases/tag/v1.4.0

[2020-04-07 01:04] #55 closed

[2020-04-07 01:04] theomessin commented on #44
https://github.com/theomessin/vue-chat-scroll/releases/tag/v1.4.0

[2020-04-07 01:04] #44 closed

[2020-04-07 01:11] theomessin opened #61 "Typescript support"
Would be nice to re-write this library in Typescript.

[2020-04-07 01:12] theomessin opened #62 "Write some tests"
Currently this library is untested. Would like to at least test the directive code (with all configuration cases). Ideally, we'd test the module bundling (s well (we used to have loads of issues with that once upon a time). Testing importing using a `<script>` tag would also be nice. Would also like to use GitHub Actions to run tests automagically.

[2020-04-07 01:13] theomessin opened #63 "Tidy up configuration"
Currently the configuration naming is all over the place. Would ideally refactor this to have all values make sense as a group.

[2020-04-07 01:14] theomessin opened #64 "Update documentation and examples"
Would rather have documentation as a site of its own (with examples) instead of a single `readme.md`.

[2020-04-07 04:33] theomessin opened #65 "Use semantic release to automate releasing"
Requires commit messages to conform to [conventional commits](https://www.conventionalcommits.org/en/v1.0.0/). All pull requests will point to a release branch (`master` or `next` for pre-releases) and should only implement a single feature/patch. These will be rebased and semantic release will take care of running `npm run build` and publishing the new version.

[2020-04-07 20:38] theomessin commented on #61
Done in https://github.com/theomessin/vue-chat-scroll/commit/3fa95ac467c3830e216e4d1ebedd50e0d6674f80

[2020-04-07 20:38] #61 closed

[2020-04-07 22:46] theomessin commented on #65
Done in https://github.com/theomessin/vue-chat-scroll/commit/9eb1721d0f2a426676820e5fa978a8e587ab2a3e and https://github.com/theomessin/vue-chat-scroll/commit/7b09161a59e0c9d50f4ca3366e8f79e5da0a39f8

[2020-04-07 22:46] #65 closed

[2020-04-11 14:07] alex-w0 opened #68 "Keep focus on previous item when prepending items to the list"
**Is your feature request related to a problem? Please describe.**
Last week I've created the pull request for the event @v-chat-scroll-top-reached, which works fine.
When I'm prepending new items to the list, then the position of the scrollbar still remains on top.
Instead the focus should be kept on the previous item that was on top.

Do you have suggestions how we can solve this problem?

[2020-04-11 15:05] theomessin commented on #68
Hi Alex. I'm not too sure what you mean by this. Could you create a quick fiddle to reproduce this and we'll go from there? You may use this [demo fiddle](https://jsfiddle.net/theomessin/n7542hk1/) as a baseline. Thanks :smiley:

[2020-04-11 17:20] alex-w0 commented on #68
@theomessin Hi Theodore, of course, here is the fiddle: https://jsfiddle.net/584ufysj/2/
I'm adding a lot of messages at the same time and it basically skips all the messages between "Message 1: The point of this vue directive..." and "New Message 9: lorem ipsum".

Instead, they should be chronologically scrollable, which means when the messages are added the client should see first the message "N

[2020-04-11 20:11] theomessin commented on #68
I see now. Yeah that makes sense. We'll have to think how we can go about implementing this.
If you've got any ideas feel free to submit a PR.

[2020-04-11 22:42] #62 closed

[2020-04-12 07:47] alex-w0 commented on #68
I have already tried it a bit, but havn't yet come to any promising solution.

[2020-04-14 10:12] weeliem commented on #68
I am facing this issue too, anyone can help?

_Moderation edit: no need to comment if you agree, a simple :+1: will suffice._

[2020-04-14 12:42] theomessin commented on #68
I've come up with a solution I'll be implementing in the alpha channel. Stay tuned :wink:

Will basically have a sticky option that keeps the scroll window constant even if items are prepended. All you have to do is activate this flag if the scroll position is `top` (they'll be a way to subscribe to scroll state updates in alpha).

[2020-04-16 01:16] weeliem opened #72 "Scroller is not scrolling to the bottom when content has images"
**Describe the bug**
Scroller is not scrolling to the bottom when content has images.

**To Reproduce**
Steps to reproduce the behavior:
Add images(medium / large sizes) into vue-chat-scroll

**Expected behavior**
Completely scroll to bottom

**Screenshots**
https://prnt.sc/s07c7s

**Additional context**
This is probably due to vue-chat-scroll initialised before the images are completely loaded

[2020-04-16 12:27] theomessin commented on #72
Hey, can I get a fiddle please (you may use [this one](https://jsfiddle.net/theomessin/n7542hk1/) as a base)?

[2020-04-17 01:38] weeliem commented on #72
Hi, you can try this here
https://jsfiddle.net/kanasaikuat/7qd3tmnb/1/

But try clear your browser history everytime u test it. Just to make sure you download the complete images from the links instead of using cache image.

[2020-04-17 01:39] weeliem commented on #72
I actually found someone is adding the extra image loaded event from your version.
https://github.com/SamuelLin/vue-chat-scroll-image

But the version does not included some features that you've added recently.

[2020-04-17 01:41] theomessin commented on #68
@alex-w0 @weeliem So here's what I've got working from the alpha: https://jsfiddle.net/theomessin/zhjdm0qb/

If you scroll to the top, it'll load new messages but the view should remain where it was. In practise this will be achieved by enabling the `prepending` config flag when prepending items (which will be when top is reached - not part of the alpha yet but will be eventually). Take a look and

[2020-04-17 01:54] theomessin commented on #72
I've been thinking of moving away from MutationObservers and using a ResizeObserver for Version 2. That would probably fix this. It would however require users to use the directive differently (see: https://rawgit.com/WICG/ResizeObserver/master/examples/chat.html). We'll see.

[2020-04-17 06:47] weeliem commented on #68
yea @theomessin nicely done, this is what i want. Hope to have this feature enabled in the next version :) Thanks.

[2020-04-17 13:11] alex-w0 commented on #68
@theomessin Great job, works really well, thanks :) Do you have committed somewhere this feature? I'm just curious how you did it.

[2020-04-17 13:32] theomessin commented on #68
I'll get a PR with this for v2.0.0-alpha tonight.

It's not the most high-performance implementation but it works nicely I think. For each Mutation (eventually this will probably be a ResizeMutation see #72)  we keep the scrollHeight in a WeakMap. When prepending, we scroll so that scrollTop is the difference in heights (ie. we scroll back where we were). I'll probably add a flag to disable saving

[2020-04-17 13:35] theomessin commented on #72
We'll probably move to ResizeObservers. This will cause a breaking change as now the html will look like this (taken from WICG chat example):
[code]

We might have to use: https://www.npmjs.com/package/resize-observer-polyfill

[2020-04-22 20:01] papersaltserver opened #73 "Demo site is not working"
**Describe the bug**
See demo link leads to a 404 page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://github.com/theomessin/vue-chat-scroll'
2. Click on 'See demo'
4. See error 404

**Expected behavior**
A page with a demo displayed

[2020-04-22 21:23] theomessin commented on #73
This is due to v2 development. The repo description link has been updated to https://jsfiddle.net/theomessin/n7542hk1/. Feel free to submit a PR to update the 1.x readme.

[2020-04-22 22:03] theomessin commented on #68
@alex-w0 @weeliem wouldn't mind some feedback on this implementation. Here's the same fiddle using the `v2.0.0-alpha.4`https://jsfiddle.net/theomessin/2Lm613pd/2/

If happy with this, we can go ahead and close this issue.

[2020-04-22 22:59] #73 closed, assigned to theomessin

[2020-04-22 23:00] theomessin commented on #73
Fixed a4a305a4044d528f3a04afbafd0152d4d1cee8fc

[2020-04-22 23:02] theomessin commented on #64
Some documentation was added in #76 - will eventually move this to a documentation site of its own.

[2020-04-23 00:06] weeliem commented on #68
@theomessin yea, tested and working fine :) Thanks a lot for the add-on.

[2020-04-23 00:36] theomessin commented on #63
I'd say this is now closed in alpha.

[2020-04-23 00:36] #63 closed

[2020-04-23 02:28] theomessin commented on #68
Feel free to re-open this issue if there are any problems.

[2020-04-23 02:28] #68 closed, assigned to theomessin

[2020-04-23 02:31] theomessin commented on #72
I'll be moving to `ResizeObserver` for version 2. That would fix this issue. Will implement this after I've moved to integration testing using Puppeteer.

[2020-04-23 06:12] weeliem commented on #72
Thanks @theomessin , can't wait to try on version 2 :)

[2020-05-04 07:03] weeliem commented on #72
HI @theomessin can i know when will you implement the version 2?

[2020-05-04 09:15] theomessin commented on #72
HI @weeliem not sure at the moment. Pretty busy with other stuff

[2020-05-15 15:06] theomessin commented on #72
I am very busy till the end of the month. Will try to pick this up in June

[2020-05-18 05:17] inspire22 opened #79 "How to debug if it is loaded?"
**Describe the bug**
I'm pretty new to vue, sorry.

I've included this in my package.json then in my main.js after importing vue:
import VueChatScroll from "vue-chat-scroll";
Vue.use(VueChatScroll);

`In my component I use <ul v-chat-scroll class="mt2">`

When I load the page and my ul has enough messages to require scrolling, no scroll happens.

Any tips how to see if it was loaded properly?  The

[2020-05-21 09:34] ghost opened #80 "How to stop scrolling of the chat to the top and putting the chat message in the current postion after typing load more in the top"
problem description
I have created a chat where it load only 20 message . and if i scroll to top we will see the load more button which will load more 20 message but it directly reach to the top . how can we stop scrolling the chat to top and make it stay in the current position

[2020-05-21 10:28] theomessin commented on #79
Hi @inspire22, sorry to hear you're having issues with vue-chat-scroll. Can you please specify the versions of vue and vue-chat-scroll you're using? Also, can you confirm whether the issue is that the plugin doesn't scroll on init, or whether the plugin doesn't work at all (ie. have you tried adding items to the container to see if it scrolls?).

[2020-05-21 10:29] theomessin commented on #80
Sounds like a duplicate of https://github.com/theomessin/vue-chat-scroll/issues/68 to me. @gamenic-praful can you confirm?

[2020-05-21 16:34] inspire22 commented on #79
Thanks!  My package.json has:
"vue-chat-scroll": "^1.4.0",
"vue": "^2.6.11",

Everything scrolls like it did before adding the module .  Adding and removing items via the vue dev tools setting $vm0 and adding to the data element there doesn't make it move to the bottom.  I can't even tell if it's loaded - are directives or Vue.use() things loaded anywhere into $vm0 that I could try to inspect them

[2020-05-21 18:02] theomessin commented on #79
If you're running this in development (ie. you can use vue browser tools) and the directive was not "loaded" you'd get an error such as:
[code]

Currently, there's no other way to debug this. If you give me something I can reproduce (a fiddle or your code) I could maybe help debug that....

[2020-05-21 19:50] inspire22 commented on #79
Thanks!  Any way to tell if it's attached to the div that should be auto-scrolling?  Does it have to be a UL > LI like in the examples, or any subelements work?

If using the Vue.use() you don't also need the javascript include, right?

[2020-05-21 21:19] theomessin commented on #79
Currently there's no way to debug this unless you change the package's source code (feel free to). You can use any element as long as it's scrollable (make sure the element is actually scrollable - `el.scrollHeight` **must** be greater than `el.clientHeight`). Finally, you either need the `<script>` tag or `Vue.use`, not both.

[2020-05-22 04:51] ghost commented on #80
yes its dublicate of #68 but this jsfiddle in this issue is no more available . is there any other option @theomessin

https://jsfiddle.net/theomessin/zhjdm0qb/

[2020-05-22 05:01] ghost commented on #80
@theomessin sir , i have tried @v-chat-scroll-top-reached="topReached" but it was not invoking the method . what might be the problem ?

[2020-05-22 06:16] theomessin commented on #80
@gamenic-praful you're can use the 2.0-alpha or wait until version 2.0 has been released.

[2020-05-22 06:16] #80 closed, assigned to theomessin

[2020-05-22 06:26] ghost opened #81 "When i use handlePrepend = true , the container reached to the buttom"
When i use handlePrepend = true , it was prepending the message but as soon as i move the mouse the message container reached to the buttom of the container .
is there any solution for this @theomessin  sir

[2020-05-22 07:44] theomessin commented on #81
Works fine https://jsfiddle.net/theomessin/2Lm613pd/

[2020-05-22 07:44] #81 closed, assigned to theomessin

[2020-05-27 19:26] inspire22 commented on #79
I think my problem is that I'm using ionic, and they do some pretty strange stuff with shadow dom and scrollable elements - https://ionicframework.com/docs/api/content

I'll probably have to implement my own thing unfortunately.

Thanks for your help!

[2020-05-27 19:26] #79 closed, assigned to theomessin

[2020-05-27 21:14] inspire22 commented on #79
I'm able to get access to the shadowroot scrolling element with $vm0.$refs.msg_list.shadowRoot.children[0]  -  scrollHeight & clientHeight & scrollTop all work from it - any suggestions how to get the vue directive to connect from inside my mounted() block?

[2020-05-29 05:41] ghost opened #82 "When i scroll up the chat and send the message it will stay in the position where it was"
**Procedure of getting problem in scroll**
when i open the chat and scroll up and send the message the scroll stay in the position it was .
result needed .
if we scroll up and if we send the message without scrolling chat to bottom . the chat doen't scroll to the bottom automaticall .
if i switch from one chatroom to another chatroom as well the chat is not scrolling to buttom . it is sticking whe

[2020-05-29 10:26] theomessin commented on #82
I'm sorry, I'm having trouble understanding what you're on about.
Do me a favour and resubmit this using the bug report template:

[code]

[2020-05-29 10:26] #82 closed, assigned to theomessin

[2020-06-03 08:40] avfirsov opened #83 "Scrolling not working if messages are covered with container"
**Describe the bug**
My problem and solution are clearly described here: https://stackoverflow.com/questions/50455751/vue-chat-scroll-doesnt-work-with-a-loader

A working demo reproducing the problem: https://jsfiddle.net/StpFlp_DDK/6s0kbtkr/

**Why it is matter**
In my case, I have a distinct categories for read and unread messages, each having separate container. And when new unread messages arr

[2020-06-07 03:03] theomessin commented on #83
Version 2 should solve this issue as it'll be using a ResizeObserver (see #72).

[2020-06-19 05:02] deoracle opened #84 "@v-chat-scroll-top-reached not working"
**Describe the bug**
When scroll reach to the top @v-chat-scroll-top-reached event must trigger. But its not working

<v-list
        v-chat-scroll="{ always: false, smooth: true }"
        @v-chat-scroll-top-reached="customMethod"
        class="overflow-y-auto"
        height="500"

methods: {
    customMethod() {
      console.log('reach');

    },

[2020-07-09 08:08] vortechron commented on #83
@theomessin when ver 2 will release?

[2020-07-09 18:38] theomessin commented on #83
@vortechron Soon™.
This is an open-source project, feel free to contribute to the alpha branch 😉.
Too busy flying at the moment 🛩️

[2020-07-09 18:42] vortechron commented on #83
@theomessin sry, just asking.. tq for the awesome package 👍

[2020-07-11 23:23] awardx opened #85 "Force chat scroll to stay on top on init"
**Is your feature request related to a problem? Please describe.**
When the element first loads up, it gets scrolled right down to the bottom

**Describe the solution you'd like**
I'd like to force Chat Scroll to stay on top on init. Then only enable auto-scrolling when the bottom of the element is manually scrolled/reached.

**Describe alternatives you've considered**
Currently, this could be ach

[2020-07-24 11:56] faizan-glowlogix opened #87 "vue-chat-scroll is working fine in chrome but not working in mozilla firefox..."
I am creating a chat application using vue js and laravel. Its Working fine in chrome browser but not working in mozilla. it does not move down when the message are loaded. Sometimes it stop at the top. or if i move it down and send a new message.it will not move down to that new message. What should i do now?

[2020-07-28 12:54] awardx commented on #85
I got it sorted for myself. If anyone would need the same functionality, here's what I did...

Inside **vue-chat-scroll.js** I added `noScrollOnInit` argument
[code]

And inside `inserted:` hook of `vChatScroll` directive I added

`scrollToBottom(el, config.notSmoothOnInit ? false : config.smooth, config.noScrollOnInit ? true : false);`

Now you can add `noScrollOnInit: true` parameter in your tem

[2020-07-28 12:54] #85 closed, assigned to theomessin

[2020-07-30 16:23] theomessin commented on #87
Try again using the standard bug report template please:
[code]

[2020-07-30 16:23] theomessin commented on #84
Try again using the standard bug report template please:
[code]

[2020-08-01 16:21] dioncodes commented on #84
This is also not working in my case after upgrading to the 2.0.0 alpha. On the last stable release it was working just fine. The event is not triggered at all anymore. In current Firefox / Firefox Developer Edition.

[2020-08-01 19:11] theomessin commented on #84
@dioncodes this event has not been implemented in version 2 just yet.

[2020-08-22 05:59] susanta96 opened #88 "Please add support for Vue3"
Some people uses vue 3 as their main project . please add support for vue3

[2020-08-25 20:13] #88 closed, assigned to theomessin

[2020-09-11 08:39] SupertigerDev opened #89 "Scroll to bottom when container resized"
**Describe the bug**
When the window is resized, scroll does not stick at the bottom

**To Reproduce**
Steps to reproduce the behavior:
1. resize window

**Expected behavior**
Content Scroll should stick at the bottom

[2020-09-11 13:45] vesper8 commented on #83
@theomessin would you say that the alpha branch is currently usable? I can imagine the warning of "don't use this in production" but I am in the same situation as the commenters in this issue so.. does the alpha branch currently resolve this issue?

Thanks! Also really looking forward to v2 : )

[2020-09-18 08:33] #87 closed, assigned to theomessin

[2020-09-18 08:34] #84 closed, assigned to theomessin

[2020-09-18 13:08] theomessin commented on #83
Hi @vesper8. I'll try to get some v2 work done this week. I'd avoid using the alpha just yet. The next alpha will have massive breaking changes as I'll be switching to ResizeObservers (this will mean you have to change your html layout to support `v-chat-scroll`. As always, yes you can use it - you just might run into issues. I'll let you know when the new alpha is out which will solve this issue.

[2020-09-20 00:22] theomessin commented on #89
This will be fixed with version 2 since we'll be using a ResizeObserver! See #72.

[2020-09-20 06:38] SupertigerDev commented on #89
Epic thanks!

[2020-09-20 11:26] theomessin commented on #89
I was wrong - I don't think a resize observer will fix this. The problem arises when the chat container height is relative - otherwise the scroll position should remain where it should.

We can code around this by listening to a window resize event and scrolling then. Let's leave this open and see what other people think.

[2020-10-06 17:10] joelambert opened #91 "Dynamically change `enabled` value"
**Describe the bug**
Can't dynamically change the `enabled` value

**To Reproduce**
Steps to reproduce the behavior:
1. Follow instructions in README to change the enabled value from scope data (https://github.com/theomessin/vue-chat-scroll#disable-vue-chat-scroll-using-configuration-prop)

**Expected behavior**
To be able to change the `enabled` value reactively.

**Additional context**
It appear

[2020-10-15 04:27] SaltyBuckets commented on #83
why is this marked as a feature

[2020-11-17 18:21] gsusmonzon commented on #91
@joelambert what i did was to bind the **whole configuration object** as a data property:

[code]
and
[code]
It seemed to work

[2020-11-29 11:31] nal-ws-001 opened #92 "Auto Scroll don't go to the bottom when use video element with height 100%"
I use vue chat scroll for chatting app. It's ok except video element with height 100%.

[2020-12-03 02:48] albirlak opened #93 "How to call scrolldown event?"
I want to make a "scroll down" button how do I implement it with this package?

[2020-12-03 12:20] theomessin commented on #93
This is not something this package supports.

[2020-12-03 12:20] #93 closed, assigned to theomessin

[2020-12-18 05:12] #92 closed, assigned to theomessin

[2021-01-19 12:14] IAmShafqatAli opened #98 "[Help Required] Event to detect that scroll is not bottom"
Hi,
Thank you so much for the work that you have done to create this package, it made my life easier :) However there is one thing that I am still cannot manage to do, that is if in chat window I scrolled in the middle of container and I sent the message, it doesn't scroll to bottom (perfect and expected behavior) but I would like to make a button that can help me scroll bottom and there is no eve

[2021-01-19 12:29] IAmShafqatAli commented on #89
This issue is still valid, on resize it should stick to bottom

[2021-01-19 18:30] SupertigerDev commented on #89
which browser and os?

[2021-01-20 10:56] IAmShafqatAli commented on #89
@supertiger1234 Resize issue is in chrome and FF windows 10

[2021-01-20 12:37] SupertigerDev commented on #89
Oh wait, I thought this was one of my projects. Oops 😂

[2021-01-20 13:00] IAmShafqatAli commented on #89
No worries at all :)

Well, do you have any idea how can I solve the this problem ? I wrote as help wanted yesterday but I couldn't find anything that can solve issue, I wrote yesterday this text below.

[code]

[2021-01-20 13:26] SupertigerDev commented on #89
I'm not sure. I just didn't use this lib and just manually scrolled to the bottom when required

[2021-01-20 16:38] theomessin commented on #89
Guys this is an open-source project. I don't actually use this package anymore, I just maintain it. I've got other stuff going on and this is pretty much at the bottom of my priority list. Feel free to submit a pull request if you feel like helping. Otherwise, you'll just have to wait until I do all the other things I have to do before I get to this.

[2021-03-04 12:44] mjasojedov opened #99 "Vue3 with typescript support."
Hello,

Is there any way to user the vue-chat-sroll with vue3 with typescirpt?

Thank you.

[2021-03-04 13:03] theomessin commented on #99
Probably. I'll get back to you

[2021-03-15 12:55] darikoko opened #100 "V 2.0.0-alpha doesn't works"
Im using Nuxt  and vue-chat-scroll on a scrollable element with fixed height, overflow-auto and it doesn't works with the 2.0.0-alpha version but it works with the V 1.4.0.

Nothing happen when I use the 2.0.0-alpha version however with the 1.4.0 version everything works as expected.

[2021-03-15 12:56] theomessin commented on #100
That's why it's in alpha 😉

[2021-05-04 06:08] FrontLeejonghun commented on #91
@gsusmonzon it's same not working.
that code r u working?

[2021-05-11 01:39] chmking commented on #99
This evening I got the 1.x package working with vue 3. I'd be happy to provide a PR. Curious how you'd like to version the change.

[2021-05-11 14:53] Jaspur commented on #99
@chmking can I test somewhere?

[2021-05-11 15:07] chmking commented on #99
@Jaspur Here is the current [PR](https://github.com/theomessin/vue-chat-scroll/pull/104) with the changes. The pause functionality seems to break with my initial testing.

[2021-05-12 12:35] Jaspur commented on #99
@chmking how can I use that specific codebase? I don't mind the pause being buggy

[2021-07-01 15:06] valeriosillari opened #109 "Re-init when scroll area pass from "display: none" to "display: block""
I've set the vue chat scroll and I got the all working.

The vue chat area is inside a div (like a left off-canvas element) that can be toggled and show/hidden just with the css property display block/hidden.

I've noticed that all if fine for the scroll until the div is shown.
Whenever the div is "hidden" and a new message is coming to the chat, the chat scroll "freezes" at the position where it

[2021-09-07 09:39] alex-ersbiometrics opened #111 "vue-chat-scroll scrolls to bottom by itself when I scroll up manually"
I'm using vue-chat-scroll in a Vuetify v-list. The v-list contains the messages of the chat as a v-list-item and each has a "reply" button.
When I scroll up and attempt to click the button on an older chat message the chat simply scrolls itself to the bottom automatically without actually registering the button click. Sometimes it scrolls itself to the bottom when I scroll up just a few messages w

[2021-09-09 11:17] liquidvisual commented on #99
Any update on this?

[2021-09-14 03:17] DOCHIS commented on #91
it's same not working.

[2021-09-19 08:40] ph1oneX opened #112 "Support needed for <script> tag"
I am new to Vue JS and prefer script tag instead of Node or npm.

Can any body just send me a sample complete app including which and where script tag should be used?

[2021-09-20 09:25] theomessin commented on #112
Just include

[code]

after you've included Vue. Usage is the same: https://github.com/theomessin/vue-chat-scroll/tree/1.x#usage

[2021-09-20 09:25] #112 closed, assigned to nobody

[2021-09-20 13:25] ph1oneX commented on #112
That's OK but can you guide me with a simple example.

[2021-09-21 06:39] ph1oneX opened #113 "Cannot Find: https://unpkg.com/vue-chat-scroll@2.0.0-alpha.4/dist/vue-chat-scroll.js"
![image](https://user-images.githubusercontent.com/76143609/134122634-b6f73fff-0b7b-4ae4-b3aa-9646d45fdcf5.png)
![image](https://user-images.githubusercontent.com/76143609/134122737-c11fd3e9-dbfc-4fcb-827e-f2bea8487050.png)

Can somebody explain why vue is not able to identify chat-scroll

Even when i check by going to link it is showing Cannot find "/dist/vue-chat-scroll.js" in vue-chat-scroll@2.

[2021-09-27 16:12] wobsoriano commented on #111
I think a simple reproduction would help

[2021-11-11 07:19] hkmsadek opened #115 "on-v-chat-scroll-top-reached does't call the method"
I am trying like this

[code]

Here `@on-v-chat-scroll-top-reached` doesn't trigger the method `handleScroll`

Any solution?

[2021-11-16 10:27] chiragparekh commented on #91
I am having same issue, data is not reactive. Is there any way I can fix this?

[2021-11-16 12:01] chiragparekh opened #116 "When modifying the message object it scrolls to bottom"
Hi I am using vue chat scroll version 2.0.0-alpha.4.

For showing message I have array of objects. One issue I am facing is when I modify one of the message object it scrolls to bottom.
What should I do to prevent it? Is there any suggestion from your side?

Thanks for the great library.

[2022-01-30 06:12] ausinetnirmal commented on #112
after adding the cdn library and adding the v-chat-scroll="{smooth: true, notSmoothOnInit: true}" it doesnt have any impact

[2022-03-14 23:08] harysonii opened #118 "Support for Vue 3"
@theomessin should we be expecting a Vue 3 compatible package? 😉 #